<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div th:insert="~{header :: header}"></div>
    <div class="col-md-4 mx-auto">
        <h1 align="center">Welcome to user menu</h1>
        <a class="btn btn-primary btn-block mt-6" align="center" href="/createMessage" role="button">CREATE MESSAGE</a><label></label>
        <a class="btn btn-primary btn-block mt-6" href="/myMessages" role="button">MY MESSAGES</a>
    </div>



</body>
</html>