<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="container my-3">
        <h1>HI, PRESS BUTTON</h1>
        <a class="btn btn-primary" href="/createMessage" role="button">CREATE MESSAGE</a>
        <a class="btn btn-primary" href="/myMessages" role="button">MY MESSAGES</a>
    </div>



</body>
</html>